.main{
    margin-top: 2em;
}
.form_aut{
    margin-top: 2em;
}
.button_enter{
    width: 200px;

}
.table{
    margin-top: 3em;
}
.user{
    display: flex;
    flex-direction: row-reverse;
}
.label{
    margin-left: 5px;
}